/*ul {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: auto;
}*/

li {
  margin-right: 2%;
}

ul,
.scroll {
  display: flex;
  width: 100vw;
  max-width: 100%;

  list-style: none;

  color: #ecd8eb;
}
